

.home-page-copy2 {
  width               : 100%;
  min-width           : 1400px;
  height              : 100vh;
  min-height          : 1413px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.home-page-copy2 .services {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 668px;
  height              : 162px;
  width               : 1163px;
  position            : absolute;
  margin              : 0;
  left                : 169px;
}
.home-page-copy2 .services .mediation-meditation {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 1164px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(2, 55, 83, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 54.0px;
}
.home-page-copy2 .screen-shot20180227-at41812-pm {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 256px;
  height              : 320px;
  width               : 605px;
  position            : absolute;
  margin              : 0;
  left                : 727px;
}
.home-page-copy2 .slider {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 74px;
  height              : 547px;
  width               : 1114px;
  position            : absolute;
  margin              : 0;
  left                : 141px;
}
.home-page-copy2 .slider .facebook-twitter {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 325px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -117px;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(5, 12, 48, 1.0);
  text-align          : left;
  letter-spacing      : 1.5px;
  line-height         : 14.0px;
}
.home-page-copy2 .slider .navigation {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 44px;
  width               : 1114px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.home-page-copy2 .slider .navigation .logo {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 44px;
  width               : 415px;
  position            : absolute;
  margin              : 0;
  left                : 405px;
}
.home-page-copy2 .slider .navigation .logo .label1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(29, 62, 222, 1.0);
  text-align          : left;
  letter-spacing      : 5.0px;
  line-height         : 44.0px;
}
.home-page-copy2 .slider .navigation .icons8menu {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 5px;
  height              : 32px;
  width               : 32px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.home-page-copy2 .slider .navigation .login {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 940px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(29, 62, 222, 1.0);
  text-align          : left;
  letter-spacing      : 1.5px;
  line-height         : 14.0px;
}
.home-page-copy2 .slider .navigation .rectangle3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 2px;
  height              : 38px;
  width               : 115px;
  position            : absolute;
  margin              : 0;
  left                : 999px;
}
.home-page-copy2 .slider .navigation .sign-up-free {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1024px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 1.5px;
  line-height         : 14.0px;
}
.home-page-copy2 .slider .text {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 201px;
  height              : 314px;
  width               : 588px;
  position            : absolute;
  margin              : 0;
  left                : 162px;
}
.home-page-copy2 .slider .text .label2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 44px;
  height              : auto;
  width               : 588px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 74.0px;
  color               : rgba(5, 13, 49, 1.0);
  text-align          : left;
  line-height         : 101.0px;
}
.home-page-copy2 .slider .text .welcome-to-creativel {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(5, 12, 48, 1.0);
  text-align          : left;
  letter-spacing      : 1.5px;
  line-height         : 14.0px;
}
.home-page-copy2 .slider .text .video-button {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 234px;
  height              : 80px;
  width               : 178px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
}
.home-page-copy2 .slider .text .video-button .watch-video {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 33px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 93px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(5, 12, 48, 1.0);
  text-align          : left;
  letter-spacing      : 1.5px;
  line-height         : 14.0px;
}
.home-page-copy2 .slider .text .video-button .oval3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.home-page-copy2 .slider .text .video-button .group21 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 7px;
  height              : 66px;
  width               : 66px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
}
.home-page-copy2 .slider .text .video-button .group21 .oval3-copy {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 66px;
  width               : 66px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.home-page-copy2 .slider .text .video-button .group21 .triangle {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 25px;
  height              : 16px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
}
.home-page-copy2 .footer {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 4718px;
  height              : 465px;
  width               : 1400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.home-page-copy2 .footer .view1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 101px;
  height              : 215px;
  width               : 1057px;
  position            : absolute;
  margin              : 0;
  left                : 145px;
}
.home-page-copy2 .footer .view1 .group13 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 197px;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 380px;
}
.home-page-copy2 .footer .view1 .group13 .features-use-cases-c {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 53px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(2, 55, 83, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 36.0px;
}
.home-page-copy2 .footer .view1 .group13 .business {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(2, 55, 83, 1.0);
  text-align          : left;
  letter-spacing      : 5.0px;
  line-height         : 22.0px;
}
.home-page-copy2 .footer .view1 .group14 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 197px;
  width               : 105px;
  position            : absolute;
  margin              : 0;
  left                : 570px;
}
.home-page-copy2 .footer .view1 .group14 .blog-community-certi {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 53px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(2, 55, 83, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 36.0px;
}
.home-page-copy2 .footer .view1 .group14 .discover {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(2, 55, 83, 1.0);
  text-align          : left;
  letter-spacing      : 5.0px;
  line-height         : 22.0px;
}
.home-page-copy2 .footer .view1 .group15 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 197px;
  width               : 143px;
  position            : absolute;
  margin              : 0;
  left                : 760px;
}
.home-page-copy2 .footer .view1 .group15 .help-learning-supp {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 53px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(2, 55, 83, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 36.0px;
}
.home-page-copy2 .footer .view1 .group15 .support {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(2, 55, 83, 1.0);
  text-align          : left;
  letter-spacing      : 5.0px;
  line-height         : 22.0px;
}
.home-page-copy2 .footer .view1 .group16 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 161px;
  width               : 107px;
  position            : absolute;
  margin              : 0;
  left                : 950px;
}
.home-page-copy2 .footer .view1 .group16 .careers-press-contac {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 53px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(2, 55, 83, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 36.0px;
}
.home-page-copy2 .footer .view1 .group16 .company {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(2, 55, 83, 1.0);
  text-align          : left;
  letter-spacing      : 5.0px;
  line-height         : 22.0px;
}
.home-page-copy2 .footer .view1 .view2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 38px;
  width               : 182px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.home-page-copy2 .footer .view1 .view2 .creatively {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 32.0px;
  color               : rgba(29, 62, 222, 1.0);
  text-align          : left;
  letter-spacing      : 5.0px;
}
.home-page-copy2 .footer .view1 .as-soon-as-computeri {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 53px;
  height              : auto;
  width               : 298px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(2, 55, 83, 1.0);
  text-align          : left;
  letter-spacing      : 0.5px;
  line-height         : 28.0px;
}
.home-page-copy2 .footer .view1 .mobile08801233 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 159px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(2, 55, 83, 1.0);
  text-align          : left;
  letter-spacing      : 0.5px;
  line-height         : 28.0px;
}
.home-page-copy2 .footer .view1 .website-www-creati {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 187px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(2, 55, 83, 1.0);
  text-align          : left;
  letter-spacing      : 0.5px;
  line-height         : 28.0px;
}
.home-page-copy2 .footer .rectangle6 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 1px;
  width               : 1400px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  opacity             : 0.25;
}
.home-page-copy2 .footer .rectangle6-copy {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 398px;
  height              : 1px;
  width               : 1110px;
  position            : absolute;
  margin              : 0;
  left                : 145px;
  opacity             : 0.25;
}
.home-page-copy2 .footer .help-status-blog-car {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 440px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 145px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(2, 55, 83, 1.0);
  text-align          : left;
  letter-spacing      : 1.5px;
  line-height         : 14.0px;
}
.home-page-copy2 .footer .design-by-abdullah-u {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 429px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1057px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(2, 55, 83, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 36.0px;
}
.home-page-copy2 .view3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 869px;
  height              : 441px;
  width               : 448px;
  position            : absolute;
  margin              : 0;
  left                : 169px;
}
.home-page-copy2 .view3 .what-other-financial {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 44px;
  height              : auto;
  width               : 449px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(2, 55, 83, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 54.0px;
}
.home-page-copy2 .view3 .i-hated-giving-clie {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 185px;
  height              : auto;
  width               : 376px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(2, 55, 83, 1.0);
  text-align          : left;
  letter-spacing      : 0.5px;
  line-height         : 28.0px;
}
.home-page-copy2 .view3 .why-choose-our-servi {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(5, 12, 48, 1.0);
  text-align          : left;
  letter-spacing      : 2.5px;
  line-height         : 16.0px;
}
.home-page-copy2 .view3 .group {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 423px;
  height              : 18px;
  width               : 91px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.home-page-copy2 .view3 .group .read-more {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 2px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(29, 62, 222, 1.0);
  text-align          : left;
  letter-spacing      : 1.5px;
  line-height         : 14.0px;
}
.home-page-copy2 .view3 .group .icons8-arrows-long-right-copy {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 73px;
}
.home-page-copy2 .click-here-to-get-st {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 919px;
  height              : auto;
  width               : 610px;
  position            : absolute;
  margin              : 0;
  left                : 661px;
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 60.0px;
  color               : rgba(29, 62, 222, 1.0);
  text-align          : left;
  letter-spacing      : 5.0px;
  line-height         : 82.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}